{% extends 'base.html.twig' %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Success</h1>

            <a href="{{ path('home_index') }}">Continue</a>

        </div>
    </main>
{% endblock %}