{% extends 'base.html.twig' %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Add Contact</h1>

            {{ form(form) }}

        </div>
    </main>
{% endblock %}